* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #0A0C10;
}

a, h1, h2, h3, h4, h5, h6, p, button, span, textarea {
    font-family: Poppins, sans-serif;
}