.containerDartVader {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #940402);
  }

  h1 {
    margin-top: 10px;
    color: #9b0606ed;
    text-shadow: 2px 2px 10px #9b0606ed;
  }

  p {
    color: #c5c2c2;
  }
}

.containerLeia {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #ffffff);
  }

  h1 {
    margin-top: 10px;
    color: #fefdfded;
    text-shadow: 2px 2px 10px #fefdfded;
  }

  p {
    color: #c5c2c2;
  }
}

.containerLukeSkywalker {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #35a501);
  }

  h1 {
    margin-top: 10px;
    color: #35a501;
    text-shadow: 2px 2px 10px #35a501;
  }

  p {
    color: #c5c2c2;
  }
}

.containerObiWanKenobi {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #047288);
  }

  h1 {
    margin-top: 10px;
    color: #047288;
    text-shadow: 2px 2px 10px #047288;
  }

  p {
    color: #c5c2c2;
  }
}

.containerHanSolo {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #43599f);
  }

  h1 {
    margin-top: 10px;
    color: #43599f;
    text-shadow: 2px 2px 10px #43599f;
  }

  p {
    color: #c5c2c2;
  }
}

.containerChewbacca {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #614801);
  }

  h1 {
    margin-top: 10px;
    color: #614801;
    text-shadow: 2px 2px 10px #614801;
  }

  p {
    color: #c5c2c2;
  }
}

.containerR2D2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #2501c7);
  }

  h1 {
    margin-top: 10px;
    color: #2501c7;
    text-shadow: 2px 2px 10px #2501c7;
  }

  p {
    color: #c5c2c2;
  }
}

.containerC3P0 {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #b2ac03);
  }

  h1 {
    margin-top: 10px;
    color: #b2ac03;
    text-shadow: 2px 2px 10px #b2ac03;
  }

  p {
    color: #c5c2c2;
  }
}

.containerYODA {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(10px 5px 5px #00601d);
  }

  h1 {
    margin-top: 10px;
    color: #00601d;
    text-shadow: 2px 2px 10px #00601d;
  }

  p {
    color: #c5c2c2;
  }
}

.containerMaceWindu {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #9c0385);
  }

  h1 {
    margin-top: 10px;
    color: #9c0385;
    text-shadow: 2px 2px 10px #9c0385;
  }

  p {
    color: #c5c2c2;
  }
}

.containerStormtrooper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    height: 20rem;
    filter: drop-shadow(5px 5px 5px #646464);
  }

  h1 {
    margin-top: 10px;
    color: #646464;
    text-shadow: 2px 2px 10px #646464;
  }

  p {
    color: #c5c2c2;
  }
}