.container {
    margin-top: 150px;

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            filter: drop-shadow(10px 5px 5px #9b0606ed);
        }

        > div {
            div {
                display: flex;
                justify-content: center;
            }

            img {
                width: 55px;
            }

            h1 {
                color: #e9dddd;
            
                span {
                    color: #9b0606ed;
                    text-shadow: 2px 2px 10px #9b0606ed;
                }
            }
        }

        
        p {
            margin-top: 30px;
            color: #a9a4a4;
            max-width: 500px;
        }
    }

    .separator {
        font-family: Poppins, sans-serif;
        color: #a8a8b3;

        margin-top: 70px;

        display: flex;
        align-items: center;

        &::before {
            content: '';
            flex: 1;
            height: 1px;
            background: linear-gradient(to right, #9b0606ed, gold);
            background-size: 400% 400%;
            animation: animate-background-separator 10s infinite ease-in-out;
            margin-right: 16px;
        }

        &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: linear-gradient(to right, #9b0606ed, gold);
            background-size: 400% 400%;
            animation: animate-background-separator 10s infinite ease-in-out;
            margin-left: 16px;
        }

        @keyframes animate-background-separator {
            0% {
                background-position: 0 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0 50%;
            }
        }
    }
}